body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
.header {
    display: block;
    margin-bottom: 15px;
}
.header h1, .header h2 {
    margin: 0;
    font-size: 24px;
    display: block;
}
.back-link {
    font-size: 14px;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

/* Flask-Flash Animation*/
@keyframes slideDown {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }
}

.flash-container {
    position: fixed;
    top: -50px; /* original position is out of screen */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    z-index: 1000;
    animation: slideDown 0.5s forwards; /* animation */
}

.flash {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
}