<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YundingCloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cloud/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
    
    <!--Make directory dialog box-->
    <script>
        function showMakeDirPrompt() {
            var newDir = prompt("Enter the name of the new directory:");
            if (newDir) {
                document.getElementById('new-dir-input').value = newDir;
                document.getElementById('mkdir-form').submit();
            }
        }
    </script>
</head>

<body>
    <!--Flask.flash info-->
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endif %}
        {% endwith %}
    </div>

    <!--Header-->
    <header>
        <div class="header-content">
            <div class="title-container">
                <h1>Yunding Cloud Service</h1>
                <div class="divider"></div>
                <img src="{{ url_for('static', filename='logo/yunding.png') }}" alt="Logo" class="logo">
            </div>
            <div class="user-actions">
                {% if uid %}
                    <span>UID: {{uid}}</span>
                    <a href="/logout" class="header-button">Logout</a>
                {% else %}
                    <a href="/login" class="header-button">Login</a>
                {% endif %}
                <a href="/" class="header-button">Index</a>
            </div>
        </div>
    </header>

    <!--Main Content-->
    <div class="container">
        <div class="info">
            <p>Directory: /{{base}}</p>
        </div>

        <!--File Actions (need priviliged)-->
        {% if privilege %}
        <div class="file-actions">
            <form action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
                <label for="file-upload" class="phint">File Upload:</label>
                <input type="file" name="file" id="file-upload">
                <input type="submit" value="Upload" class="header-button">
                <input type="hidden" name="base" value="{{ base }}">
            </form>
            <button onclick="showMakeDirPrompt()" class="header-button">Make Directory</button>
            <form id="mkdir-form" action="/mkdir" method="POST" style="display: none;">
                <input type="hidden" name="base" value="{{ base }}">
                <input type="hidden" name="new_dir" id="new-dir-input">
            </form>
        </div>
        {% endif %}

        <!--File List-->
        <div class="file-list">
            {% if base %}
                <form method="GET" action="/cloud/{{ '/'.join(base.split('/')[:-1]) }}">
                    <button type="submit" class="file-item">...</button>
                </form>
            {% endif %}
            {% if files %}
                {% for file in files %}
                    <form method="GET" action="/cloud/{{ base }}/{{ file['name'] }}">
                        <button type="submit" class="file-item {% if file["file"] %}file{% endif %}">
                            <span>{{ file["name"] }}</span>
                            {% if file["file"] %}
                                <span class="file-size">{{ file["size"] }}</span>
                            {% endif %}
                        </button>
                    </form>
                {% endfor %}
            {% else %}
                <p>No files in this directory :-(</p>
            {% endif %}
        </div>

        <!--Attach Info-->
        <div class="container-attach-info">
            <div class="info-item">
                <span>IP Address:</span>
                <span>{{addr}}</span>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer>
        <p>2024 | YundingAcademy</p>
    </footer>
</body>
</html>