<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>YundingCloud-Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
</head>
<body>
    <!--Flask.flash info-->
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <form method="POST" action="/login">

            {% if not uid %}
            <!--Enter uid-->
                <div class="header">
                    <h1>Login</h1>
                </div>
                <div class="form-group">
                    <label for="uid">User Name</label>
                    <input type="text" id="uid" name="uid" required>
                </div>

            {% elif reset == "true" %}
            <!--Reset password-->
                <div class="header">
                    <h1>Hi, {{uid}}</h1>
                    <h2>Please reset your password</h2>
                    <span class="back-link" onclick="window.location.href='/login'">Back</span>
                </div>
                <div class="form-group">
                    <label for="pwd">New Password</label>
                    <input type="password" id="pwd" name="pwd" required>
                </div>
                <input type="hidden" name="uid" value="{{ uid }}">
                <input type="hidden" name="reset" value="true">

            {% else %}
            <!--Enter password-->
                <div class="header">
                    <h1>Hi, {{uid}}</h1>
                    <h2>Please enter your password</h2>
                    <span class="back-link" onclick="window.location.href='/login'">Back</span>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" id="pwd" name="pwd" required>
                </div>
                <input type="hidden" name="uid" value="{{ uid }}">
            {% endif %}

            <div class="form-group">
                <button type="submit">Next</button>
            </div>
        </form>
    </div>
</body>
</html>