<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YundingCloud-FilePreview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cloud/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
</head>
<body>
    <!--Flask.flash info-->
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <h1>File Preview</h1>
        <a href="/cloud/{{ '/'.join(file.split('/')[:-1]) }}">Back</a>
        <div class="preview">
            {% if file_type == 'image' %}
                <img src="/cloud/{{ file }}?preview=true" alt="Image Preview">
            {% elif file_type == 'video' %}
                <video controls>
                    <source src="/cloud/{{ file }}?preview=true" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif file_type == 'pdf' %}
                <iframe src="/cloud/{{ file }}?preview=true" frameborder="0" width="100%" height="600px"></iframe>
            {% else %}
                <iframe src="/cloud/{{ file }}?preview=true" frameborder="0"></iframe>
            {% endif %}
            <p>file type: {{file_type}}</p>
            <a href="/download/{{ file }}">Download</a>
        </div>
    </div>
</body>
</html>