<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YundingCloud-FilePreview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cloud/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
</head>

<body>
    <!--Flask.flash info-->
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[-1] %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endif %}
        {% endwith %}
    </div>

    <!--Header-->
    <header>
        <div class="header-content">
            <div class="title-container">
                <h1>Yunding Cloud Service</h1>
                <div class="divider"></div>
                <img src="{{ url_for('static', filename='logo/yunding.png') }}" alt="Logo" class="logo">
            </div>
            <div class="user-actions">
                {% if uid %}
                    <span>UID: {{uid}}</span>
                    <a href="/logout" class="header-button">Logout</a>
                {% else %}
                    <a href="/login" class="header-button">Login</a>
                {% endif %}
                <a href="/" class="header-button">Index</a>
            </div>
        </div>
    </header>

    <!--Main Content-->
    <div class="container">
        <div class="info">
            
            <p>Directory: /{{file}}</p>
            <p>File type: {{file_type}}</p>
        </div>
   
        <a href="/cloud/{{ '/'.join(file.split('/')[:-1]) }}" class="back-button">Back</a>

        <div class="preview">
            {% if file_type == 'image' %}
                <img src="/cloud/{{ file }}?preview=true" alt="Image Preview" class="preview-content">
            {% elif file_type == 'video' %}
                <video controls class="preview-content">
                    <source src="/cloud/{{ file }}?preview=true" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elif file_type == 'pdf' %}
                <iframe src="/cloud/{{ file }}?preview=true" frameborder="0" width="100%" height="600px" class="preview-content"></iframe>
            {% else %}
                <iframe src="/cloud/{{ file }}?preview=true" frameborder="0" class="preview-content"></iframe>
            {% endif %}
            <a href="/download/{{ file }}" class="header-button">Download</a>
            
        </div>
    </div>

    <!--Footer-->
    <footer>
        <p>2024 | YundingAcademy</p>
    </footer>
</body>
</html>